#s_fv .contain {
  position: relative;
}
#s_fv .contain .text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#s_fv .contain .text h1,
#s_fv .contain .text p {
  text-align: center;
  font-weight: bold;
}

.r_ttl {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  position: relative;
  padding-bottom: 15px;
}
@media screen and (max-width: 1900px) {
  .r_ttl {
    padding-bottom: 15rem;
  }
}
.r_ttl::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background: #C19421;
}
@media screen and (max-width: 1900px) {
  .r_ttl::before {
    width: 80rem;
  }
}
@media screen and (max-width: 768px) {
  .r_ttl::before {
    width: 60rem;
  }
}

.s_n_s1 .sec_contain .cat-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 70px;
}
@media screen and (max-width: 1900px) {
  .s_n_s1 .sec_contain .cat-list {
    gap: 40rem 70rem;
  }
}
.s_n_s1 .sec_contain .cat-list .cat {
  background-color: #fff;
  color: #C19421;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid #C19421;
  border-radius: 999px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1900px) {
  .s_n_s1 .sec_contain .cat-list .cat {
    padding: 20rem;
  }
}
.s_n_s1 .sec_contain .cat-list .cat.active, .s_n_s1 .sec_contain .cat-list .cat:hover {
  background-color: #C19421;
  color: #fff;
}
.s_n_s1 .sec_contain .blog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 100px;
}
@media screen and (max-width: 1900px) {
  .s_n_s1 .sec_contain .blog-list {
    gap: 50rem;
    margin-top: 100rem;
  }
}
@media screen and (max-width: 768px) {
  .s_n_s1 .sec_contain .blog-list {
    grid-template-columns: 1fr;
    gap: 70rem;
    margin-top: 70rem;
  }
}
.s_n_s1 .sec_contain .blog-list .item {
  cursor: pointer;
}
.s_n_s1 .sec_contain .blog-list .item .img {
  overflow: hidden;
}
.s_n_s1 .sec_contain .blog-list .item .text {
  margin-top: 20px;
}
@media screen and (max-width: 1900px) {
  .s_n_s1 .sec_contain .blog-list .item .text {
    margin-top: 20rem;
  }
}
.s_n_s1 .sec_contain .blog-list .item .text .meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s_n_s1 .sec_contain .blog-list .item .text .meta .date {
  color: #1E257D;
}
.s_n_s1 .sec_contain .blog-list .item .text .meta .cat {
  background-color: #C19421;
  border-radius: 999px;
  width: 200px;
  padding: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
@media screen and (max-width: 1900px) {
  .s_n_s1 .sec_contain .blog-list .item .text .meta .cat {
    width: 200rem;
    padding: 8rem;
  }
}
@media screen and (max-width: 768px) {
  .s_n_s1 .sec_contain .blog-list .item .text .meta .cat {
    width: 300rem;
  }
}
.s_n_s1 .sec_contain .blog-list .item .text .ttl {
  font-weight: bold;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1900px) {
  .s_n_s1 .sec_contain .blog-list .item .text .ttl {
    margin-top: 20rem;
  }
}
.s_n_s1 .sec_contain .blog-list .item:hover .img img {
  transform: scale(1.05);
}
.s_n_s1 .sec_contain .blog-list .item:hover .text .ttl {
  color: #1E257D;
  text-decoration: underline;
}

.step-list {
  margin-top: 90px;
}
@media screen and (max-width: 1900px) {
  .step-list {
    margin-top: 90rem;
  }
}
.step-list .step {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 60px;
}
@media screen and (max-width: 1900px) {
  .step-list .step {
    gap: 30rem;
    margin-top: 60rem;
  }
}
.step-list .step:last-child .num::before {
  content: none;
}
.step-list .step .num {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 999px;
  border: 1px solid #1E257D;
  color: #C19421;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 1900px) {
  .step-list .step .num {
    width: 100rem;
    height: 100rem;
  }
}
.step-list .step .num::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 280px;
  border-left: 4px dashed #1E257D;
}
@media screen and (max-width: 1900px) {
  .step-list .step .num::before {
    height: 280rem;
    border-left: 4rem dashed #1E257D;
  }
}
@media screen and (max-width: 768px) {
  .step-list .step .num::before {
    height: 700rem;
  }
}
.step-list .step .content {
  width: calc(100% - 130px);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1900px) {
  .step-list .step .content {
    width: calc(100% - 130rem);
  }
}
@media screen and (max-width: 768px) {
  .step-list .step .content {
    flex-direction: column-reverse;
    gap: 50rem;
  }
}
.step-list .step .content .txt-div {
  width: 490px;
  padding-top: 15px;
}
@media screen and (max-width: 1900px) {
  .step-list .step .content .txt-div {
    width: 490rem;
    padding-top: 15rem;
  }
}
@media screen and (max-width: 768px) {
  .step-list .step .content .txt-div {
    width: 100%;
  }
}
.step-list .step .content .txt-div h3 {
  font-weight: bold;
  color: #1E257D;
}
.step-list .step .content .txt-div .f_sm {
  margin-top: 20px;
}
@media screen and (max-width: 1900px) {
  .step-list .step .content .txt-div .f_sm {
    margin-top: 20rem;
  }
}
.step-list .step .content .img-div {
  width: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1900px) {
  .step-list .step .content .img-div {
    width: 420rem;
  }
}
@media screen and (max-width: 768px) {
  .step-list .step .content .img-div {
    width: 100%;
  }
}

.s_msg {
  padding: 0;
}
@media screen and (max-width: 768px) {
  .s_msg {
    padding: 80rem 0;
  }
}
.s_msg .contain {
  padding-top: 70px;
}
@media screen and (max-width: 1900px) {
  .s_msg .contain {
    padding-top: 70rem;
  }
}
.s_msg .contain .bg {
  width: 100%;
  height: 375px;
  background-color: #ffb923;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 1900px) {
  .s_msg .contain .bg {
    height: 375rem;
  }
}
@media screen and (max-width: 768px) {
  .s_msg .contain .bg {
    height: 650rem;
  }
}
@media screen and (max-width: 768px) {
  .s_msg .contain .sec_contain {
    padding: 0 40rem;
  }
}
.s_msg .contain .sec_contain .ttl {
  width: 560px;
  padding-bottom: 150px;
}
@media screen and (max-width: 1900px) {
  .s_msg .contain .sec_contain .ttl {
    width: 560rem;
    padding-bottom: 150rem;
  }
}
@media screen and (max-width: 768px) {
  .s_msg .contain .sec_contain .ttl {
    width: 100%;
    padding-bottom: 0;
  }
}
.s_msg .contain .sec_contain .ttl .maru {
  font-weight: bold;
  margin-top: 30px;
}
@media screen and (max-width: 1900px) {
  .s_msg .contain .sec_contain .ttl .maru {
    margin-top: 30rem;
  }
}
.s_msg .contain .sec_contain .img {
  width: 480px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 1900px) {
  .s_msg .contain .sec_contain .img {
    width: 480rem;
  }
}
@media screen and (max-width: 768px) {
  .s_msg .contain .sec_contain .img {
    position: relative;
    top: unset;
    right: unset;
    width: 100%;
    margin: 70rem auto;
  }
}
.s_msg .contain .sec_contain p.right {
  text-align: right;
}

.s_store-summary .sec_contain .contents {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 1900px) {
  .s_store-summary .sec_contain .contents {
    margin-top: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .s_store-summary .sec_contain .contents {
    flex-direction: column-reverse;
  }
}
.s_store-summary .sec_contain .contents .info-list {
  width: 560px;
}
@media screen and (max-width: 1900px) {
  .s_store-summary .sec_contain .contents .info-list {
    width: 560rem;
  }
}
@media screen and (max-width: 768px) {
  .s_store-summary .sec_contain .contents .info-list {
    width: 100%;
    margin-top: 70rem;
  }
}
.s_store-summary .sec_contain .contents .info-list .info-item {
  padding: 30px 0;
  border-top: 1px solid #1E257D;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.s_store-summary .sec_contain .contents .info-list .info-item:last-child {
  border-bottom: 1px solid #1E257D;
}
@media screen and (max-width: 1900px) {
  .s_store-summary .sec_contain .contents .info-list .info-item {
    padding: 30rem 0;
  }
}
.s_store-summary .sec_contain .contents .info-list .info-item .key {
  width: 110px;
}
@media screen and (max-width: 1900px) {
  .s_store-summary .sec_contain .contents .info-list .info-item .key {
    width: 110rem;
  }
}
@media screen and (max-width: 768px) {
  .s_store-summary .sec_contain .contents .info-list .info-item .key {
    width: 150rem;
  }
}
.s_store-summary .sec_contain .contents .imgs {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media screen and (max-width: 1900px) {
  .s_store-summary .sec_contain .contents .imgs {
    width: 480rem;
  }
}
@media screen and (max-width: 768px) {
  .s_store-summary .sec_contain .contents .imgs {
    width: 100%;
  }
}

.r_section .sec_contain .anchor-link-div {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media screen and (max-width: 1900px) {
  .r_section .sec_contain .anchor-link-div {
    margin-bottom: 100rem;
    gap: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .r_section .sec_contain .anchor-link-div {
    grid-template-columns: 1fr;
    gap: 50rem;
  }
}
.r_section .sec_contain .anchor-link-div .link-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid #C19421;
  color: #C19421;
  position: relative;
}
@media screen and (max-width: 1900px) {
  .r_section .sec_contain .anchor-link-div .link-item {
    padding: 30rem;
  }
}
.r_section .sec_contain .anchor-link-div .link-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  background-color: #C19421;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
          clip-path: polygon(100% 0, 100% 100%, 0 100%);
}
.r_section .sec_contain .anchor-link-div .link-item:hover {
  background-color: #fff;
}
.r_section .sec_contain .r_list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 45px 22px;
}
@media screen and (max-width: 1900px) {
  .r_section .sec_contain .r_list {
    gap: 45rem 22rem;
  }
}
@media screen and (max-width: 768px) {
  .r_section .sec_contain .r_list {
    grid-template-columns: 1fr;
    gap: 50rem;
  }
}
.r_section .sec_contain .r_list .r_item {
  padding: 20px 25px;
  background-color: #e7e7e7;
}
@media screen and (max-width: 1900px) {
  .r_section .sec_contain .r_list .r_item {
    padding: 20rem 25rem;
  }
}
@media screen and (max-width: 768px) {
  .r_section .sec_contain .r_list .r_item {
    padding: 40rem;
  }
}
.r_section .sec_contain .r_list .r_item p {
  margin: auto;
  text-align: center;
  margin-top: 15px;
  font-weight: bold;
}
@media screen and (max-width: 1900px) {
  .r_section .sec_contain .r_list .r_item p {
    margin-top: 15rem;
  }
}/*# sourceMappingURL=sub.css.map */